table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
}

tr {
  height: 60px;
}

td {
  text-align: center;
  cursor: pointer;
  width: 60px;
}

#game-over {
  margin-top: 5px;
  width: 190px;
  text-align: center;
}
